<%= form_for([@user, @barrel]) do |f| %>
<h5><%= f.label :caliber %></h5>
<%= f.text_field :caliber, id: :barrel_caliber %>
<h5><%= f.label :barrel_type %></h5>
<%= f.text_field :barrel_type, id: :barrel_barrel_type %>
<h5><%= f.label :length %></h5>
<%= f.number_field :length, id: :barrel_length, :step => 0.0001 %>
<h5><%= f.label :twist %></h5>
<%= f.number_field :twist, id: :barrel_twist, :step => 0.0001 %>
<h5><%= f.label :contour %></h5>
<%= f.text_field :contour, id: :barrel_contour %>
<h5><%= f.label :rifling %></h5>
<%= f.text_field :rifling, id: :barrel_rifling %>
<h5><%= f.label "Select firearm" %></h5>
<%= f.collection_select :firearm_id, current_user.firearms, :id, :name, prompt: "Select firearm" %>
<br>
<%= f.fields_for :firearms do |ff| %>
<h5><%= ff.label "Firearm Name" %></h5>
<%= ff.text_field :name %>
<h5><%= ff.label :firearm_type, "Type" %></h5><%= ff.select :firearm_type,options_for_select(["Bolt-Action","Semi-Auto","Muzzle Loader","Shotgun",]), prompt: "Select type"  %>
<h5><%= ff.label "Description" %></h5>
<%= ff.text_field :description %>
<% end %>

<br>
<%= f.submit %>
<% end %>

