<%= form_for([@user, @firearm]) do |f| %>
  <h5><%= f.label :name, "Name" %></h5>
    <%= f.text_field :name %> <br>
  <h5><%= f.label :firearm_type, "Type" %></h5>
  <%= f.select :firearm_type, options_for_select(["Bolt-Action","Semi-Auto","Muzzle Loader","Shotgun",], @firearm.firearm_type), selected: true %>
  <h5><%= f.label :description,   "Description" %></h5>
    <%= f.text_area :description %> <br>

    <!-- Add new barrel -->
    <h3>Add new barrel</h3>
  <%= f.fields_for :barrels do |bf| %>
    <h5><%= bf.label :caliber %></h5>
      <%= bf.text_field :caliber %>
    <h5><%= bf.label :barrel_type %></h5>
      <%= bf.text_field :barrel_type %>
    <h5><%= bf.label :length %></h5>
      <%= bf.number_field :length, id: :barrel_length, :step => 0.0001 %>
    <h5><%= bf.label :twist %></h5>
      <%= bf.number_field :twist, id: :barrel_twist, :step => 0.0001 %>
    <h5><%= bf.label :contour %></h5>
      <%= bf.text_field :contour %>
    <h5><%= bf.label :rifling %></h5>
      <%= bf.text_field :rifling %>
      <% end %>
      <br><br>
<%= f.submit 'Create Firearm', class: "btn btn-primary" %>
<% end %>

