<h2>Add a new firearm</h2>
<%= form_for([@user, @firearm]) do |f| %>
    <h5><%= f.label :name, "Name" %></h5><%= f.text_field :name %> <br>
    <h5><%= f.label :firearm_type, "Type" %></h5><%= f.select :firearm_type,options_for_select(["Bolt-Action","Semi-Auto","Muzzle Loader","Shotgun",]), prompt: "Select type"  %> <br>
    <h5><%= f.label :description, "Description" %></h5><%= f.text_area :description %> <br>
    <%= f.submit 'Create Firearm', class: "btn btn-primary" %>
<% end %>
<%= link_to  "Back", firearms_path, class: "btn btn-outline-secondary" %>


