<div class="d-md-flex flex-md-wrap">
    <div class="p-5">
    <h1>
        <%= @firearm.name %>
    </h1>
    <h4>Type</h4>
    <%= @firearm.firearm_type %>
    <h4>Description</h4>
    <%= @firearm.description %>
    <br>
    <%= link_to  "Back", user_firearms_path, class: "btn btn-outline-secondary" %>
    <%= link_to  "Edit Firearm", edit_firearm_path(@firearm), class: "btn btn-outline-warning"  %>
    <%= link_to 'Destroy', firearm_path(@firearm), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </div>
</div>