<h1>Edit Outing</h1>
<%= form_for(@outing) do |f| %>
  <% if outing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(outing.errors.count, "error") %> prohibited this barrel from being saved:</h2>

      <ul>
      <% outing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h5><%= f.label :shots_fired %></h5>
    <%= f.text_field :shots_fired, id: :outing_shots_fired %>
<br><br>
   <%= f.submit 'Edit Outing', class: "btn btn-primary" %>
  <% end %>
