<h1>New Outing</h1>
<%= form_for(@outing) do |f| %>
  <% if outing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(outing.errors.count, "error") %> prohibited this barrel from being saved:</h2>

      <ul>
      <% outing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h5><%= f.label :date %></h5>
<%= f.date_select :date, id: :date %>
f.fields_for :firearms do
<br><br>
   <%= f.submit 'Create Outing', class: "btn btn-primary" %>
  <% end %>
