<h1>Outings</h1>
<div class="d-md-flex flex-md-wrap">

  <% @outings.each do |o| %>
      <div class="p-5">
        <h4>Outing Type:</h4> 
          <%= o.outing_type %>
        <h4>Outing Date:</h4> 
          <%= o.date %>
        <h4>Shots Fired:</h4> 
          <%= o.shots_fired %>
        <br>
        <%= link_to 'Show', outing_path(o), class: "btn btn-primary" %>
        <%= link_to 'Edit', edit_outing_path(o), class: "btn btn-warning" %>
        <%= link_to 'Destroy', outing_path(o), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        <br>
      </div>
      <% end %>
</div>
<br><br>
<div class="d-flex justify-content-around">
<%= link_to 'New Outing', new_outing_path, class: "btn btn-outline-success" %>
</div>
